/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

	.banner-area::after {
        width: 53%;
    }

	.banner-cnt {
		padding-left: 0;
		max-width: 460px;
	}

	.modal-video-body {
		max-width: 800px;
	}

	.counter-upper p {
		font-size: 18px;
	}

	.oportun-area {
		background-position: 40%;
		padding: 140px 0;
	}

	.result-box-item {
		padding: 15px 20px;
	}

	.pasos-line {
		display: none;
	}

	.pasos-area {
		padding-top: 80px;
	}

	.pasos-left h4,
	.pasos-left h6 {
		font-size: 29px;
	}

	.pasos-left h2 {
		font-size: 60px;
	}

	.modal-dialog {
		max-width: 900px;
	}

	.modal-body {
		padding-top: 20px;
	}

	.futeup-right h4 {
		font-size: 46px;
	}

	.futeup-right h2 {
		font-size: 30px;
	}

	.futeup-right p {
		font-size: 18px;
	}

	.futeup-right a {
		font-size: 16px;
		padding: 10px 16px;
	}

	.prof-cnt {
		width: 90%;
		padding: 15px 15px;
	}

	.prof-cnt h4 {
		font-size: 17px;
	}

	.futeup-area {
		padding: 110px 85px;
	}

	.fute-bg .futeb-bg1 {
		max-width: 50px;
	}

	.fute-bg .futeb-bg2 {
		max-width: 65px;
	}












}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.header-area {
		position: initial;
	}

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000;
	}

	.footer-item {
		margin: 30px 0;
	}

	.footer-area {
		padding-top: 50px;
	}

	.copy-right p br {
		display: none;
	}

	.copy-left ul li {
		padding-right: 20px;
	}

	.copy-left .footer-1 {
	    max-width: 45px;
	}

	.copy-left .footer-2 {
	    max-width: 100px;
	}

	.copy-left .footer-3{
	    max-width: 90px;
	}

	.copyright-part {
		margin-top: 30px;
	}

	.banner-area::after {
        width: 69%;
		top: 140px;
    }

	.banner-cnt {
		padding-left: 0px;
		max-width: 460px;
	}

	.banner-area {
		padding: 80px 0 170px;
	}

	.modal-video-body {
		max-width: 650px;
		margin: 180px auto;
	}

	.counter-upper h4 {
		font-size: 34px;
	}

	.counter-upper h2 {
		font-size: 48px;
	}

	.counter-item {
		margin-bottom: 16px;
	}

	.oportun-area {
		background-position: 20%;
		padding: 140px 0 120px;
	}

	.result-box-item {
		padding: 15px 15px;
	}

	.result-box-item p {
		font-size: 14px;
		margin-bottom: 0;
	}

	.result-box-item {
		min-height: 275px;
	}

	.pasos-area {
		background-size: cover;
	}

	.pasos-line {
		display: none;
	}

	.pasos-area {
		padding-top: 80px;
	}

	.pasos-left {
		text-align: center;
	}

	.pasos-left ul li a {
		margin: 0 auto;
	}

	.pasos-right {
		margin-top: 50px;
	}

	.conce-inner {
		padding: 15px 5px 10px;
	}

	.conce-inner p {
		font-size: 13px;
	}

	.conoce-upper img {
		max-width: 110px;
	}

	.conoce-upercnt h4 {
		font-size: 32px;
	}

	.conoce-upercnt h2 {
		font-size: 36px;
	}

	.empeza-main {
		padding: 65px 50px;
	}

	.partner-logo .part1 {
		max-width: 300px;
	}
	
	.partner-logo .part2 {
		max-width: 130px;
	}
	
	.partner-logo .part3 {
		max-width: 150px;
	}

	.modal-dialog {
		max-width: 700px;
	}

	.modal-body {
		padding-top: 0px;
	}

	.modal-content {
		padding: 20px 20px;
	}

	.modal-left h2 {
		font-size: 52px;
	}

	.modal-left h4 {
		font-size: 22px;
	}
	
	.futeup-left {
		margin-bottom: 50px;
	}

	.futeup-right {
		text-align: center;
		padding-top: 10px;
	}

	.futeup-area {
		padding: 60px 0;
	}

	














}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-area {
		position: initial;
	}

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000000;
	}

	.copyright-part {
		display: block;
		margin-top: 25px;
		padding-top: 45px;
		text-align: center;
	}

	.copy-left,
	.copy-right {
	    width: 100%;
	}

	.footer-item {
		margin: 25px 0;
	}

	.footer-item h4 {
		margin-bottom: 16px;
	}

	.footer-area {
		padding: 40px 0;
	}

	.copy-right p br {
		display: none;
	}

	.copy-right p {
		text-align: center;
	}

	.copy-left ul li {
		padding-right: 20px;
		padding-bottom: 30px;
	}

	.copy-left .footer-1 {
	    max-width: 50px;
	}

	.copy-left .footer-2 {
	    max-width: 110px;
	}

	.copy-left .footer-3{
	    max-width: 100px;
	}

	.banner-area::after {
        width: 370px;
		height: 180px;
		top: 110px;
    }

	.banner-cnt {
		padding-left: 0px;
		max-width: 345px;
	}

	.banner-area {
		padding: 60px 0 120px;
	}

	.banner-cnt h4 {
		font-size: 30px;
		top: 16px;
	}

	.banner-cnt h2 {
		font-size: 52px;
		margin-left: 20px;
	}

	.banner-inner p {
		font-size: 15px;
	}

	.banner-inner img {
		max-width: 135px;
	}

	.banner-inner {
		padding-top: 20px;
	}

	.modal-video-body {
		max-width: 350px;
		margin: 200px auto;
	}

	.modal-video-close-btn {
		right: 0;
	}

	@media screen and (min-width: 576px) and (max-width: 767px) {
		.banner-area::after {
			width: 70%;
		}

		.modal-video-body {
			max-width: 500px;
			margin: 200px auto;
		}
	}

	.counter-upper h4 {
		font-size: 30px;
	}

	.counter-upper h2 {
		font-size: 40px;
	}

	.counter-upper p {
		font-size: 18px;
	}

	.counter-upper p br {
		display: none;
	}

	.counter-item {
		margin-bottom: 16px;
	}

	.counter-upper {
		padding: 50px 0;
	}

	.oportun-area {
		background-position: left;
		padding: 130px 0 90px;
	}

	.oportun-item h2 {
		font-size: 50px;
	}

	.result-box-item {
		max-width: 340px;
		margin: 16px auto;
	}

	.result-box-area {
		padding-bottom: 65px;
	}
	
	.pasos-area {
		background-size: cover;
	}

	.pasos-line {
		display: none;
	}

	.pasos-area {
		padding: 60px 0 120px;
	}

	.pasos-left {
		text-align: center;
	}

	.pasos-left ul li a {
		margin: 0 auto;
	}

	.pasos-right {
		margin-top: 50px;
	}

	.main-content .owl-theme .custom-nav .owl-prev img, 
	.main-content .owl-theme .custom-nav .owl-next img {
		max-width: 85px;
	}

	.main-content .owl-theme .custom-nav {
		top: 90%;
	}
	
	.conoce-upper {
		display: block;
		text-align: center;
	}

	.conoce-upper img {
		max-width: 120px;
	}

	.conoce-upercnt {
		margin-left: 0;
	}

	.conoce-upercnt h4 {
		font-size: 28px;
	}

	.conoce-upercnt h2 {
		font-size: 32px;
	}

	.conce2 {
		margin: 25px 0;
	} 

	.empeza-main {
		padding: 40px 20px;
	}

	.empeza-area {
		padding: 230px 0 76px;
	}

	.empeza-cnt h2 {
		font-size: 35px;
	}

	.empeza-cnt a {
		font-size: 16px;
	}

	.partner-logo .part1 {
		max-width: 250px;
		margin-bottom: 15px;
	}
	
	.partner-logo .part2 {
		max-width: 110px;
		margin-right: 30px;
	}
	
	.partner-logo .part3 {
		max-width: 130px;
	}

	.partner-logo {
		display: block;
	}

	.modal-dialog {
		max-width: 700px;
	}

	.modal-body {
		padding-top: 25px;
	}

	.modal-content {
		padding: 0;
		padding-top: 15px;
	}

	.modal-left h2 {
		font-size: 52px;
		margin-top: 25px;
	}

	.modal-left h4 {
		font-size: 22px;
	}

	.futeup-left {
		margin-bottom: 50px;
	}

	.futeup-right {
		text-align: center;
		padding-top: 10px;
	}

	.futeup-area {
		padding: 15px 0;
	}

	.fute-bg .futeb-bg1 {
		display: none;
	}

	.fute-bg .futeb-bg2 {
		display: none;
	}

	.prof-cnt {
		width: 90%;
		padding: 15px 15px;
	}

	.prof-cnt h4 {
		font-size: 17px;
	}

	.prof-cnt p {
		font-size: 13px;
	}

	.fute-item {
		margin: 12px 0!important;
	}
















}