/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

	.banner-area::after {
        width: 53%;
    }

	.banner-cnt {
		padding-left: 0;
		max-width: 460px;
	}

	.modal-video-body {
		max-width: 800px;
	}












}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.header-area {
		position: initial;
	}

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000;
	}

	.footer-item {
		margin: 30px 0;
	}

	.footer-area {
		padding-top: 50px;
	}

	.copy-right p br {
		display: none;
	}

	.copy-left ul li {
		padding-right: 20px;
	}

	.copy-left .footer-1 {
	    max-width: 45px;
	}

	.copy-left .footer-2 {
	    max-width: 100px;
	}

	.copy-left .footer-3{
	    max-width: 90px;
	}

	.copyright-part {
		margin-top: 30px;
	}

	.banner-area::after {
        width: 69%;
		top: 140px;
    }

	.banner-cnt {
		padding-left: 0px;
		max-width: 460px;
	}

	.banner-area {
		padding: 80px 0 170px;
	}

	.modal-video-body {
		max-width: 650px;
		margin: 180px auto;
	}


















}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-area {
		position: initial;
	}

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000000;
	}

	.copyright-part {
		display: block;
		margin-top: 25px;
		padding-top: 45px;
		text-align: center;
	}

	.copy-left,
	.copy-right {
	    width: 100%;
	}

	.footer-item {
		margin: 25px 0;
	}

	.footer-item h4 {
		margin-bottom: 16px;
	}

	.footer-area {
		padding: 40px 0;
	}

	.copy-right p br {
		display: none;
	}

	.copy-right p {
		text-align: center;
	}

	.copy-left ul li {
		padding-right: 20px;
		padding-bottom: 30px;
	}

	.copy-left .footer-1 {
	    max-width: 50px;
	}

	.copy-left .footer-2 {
	    max-width: 110px;
	}

	.copy-left .footer-3{
	    max-width: 100px;
	}

	.banner-area::after {
        width: 370px;
		height: 180px;
		top: 110px;
    }

	.banner-cnt {
		padding-left: 0px;
		max-width: 345px;
	}

	.banner-area {
		padding: 60px 0 120px;
	}

	.banner-cnt h4 {
		font-size: 30px;
		top: 16px;
	}

	.banner-cnt h2 {
		font-size: 52px;
		margin-left: 20px;
	}

	.banner-inner p {
		font-size: 15px;
	}

	.banner-inner img {
		max-width: 135px;
	}

	.banner-inner {
		padding-top: 20px;
	}

	.modal-video-body {
		max-width: 350px;
		margin: 200px auto;
	}

	.modal-video-close-btn {
		right: 0;
	}

	@media screen and (min-width: 576px) and (max-width: 767px) {
		.banner-area::after {
			width: 70%;
		}
		
		.modal-video-body {
			max-width: 500px;
			margin: 200px auto;
		}
	}

	

	
	














}