/*=========
fonts
===========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap');

body {	
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #191919;	
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

/*scrollto-top*/
.scrollto-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    background: #B2C1DA;   
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    z-index: 99999;
}

.scrollto-top:hover {   
    color: #FFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

/*===================
header-area start
=====================*/
.header-area {
    position: sticky;
    top: 0;
    width: 100%;
    display: block;
    z-index: 999;
    background-color: #fff;
    transition: 0.3s all ease;
}

.headerfixed {
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
}

.navbar-brand img {
    max-width: 92px;
    margin-right: 20px;
}

.logo-width {
    max-width: 80px!important;
}

.navbar-nav li {
    padding: 10px 20px;
}

.navbar-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: #6E757B;
    transition: 0.2s all ease;
    position: relative;
}

.navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    position: absolute;
    top: 32px;
    opacity: 0;
    transition: 0.2s all ease;
}

.navbar-nav li #active {
    color: #0D3E75;
    font-weight: 700;
}

.navbar-nav li a:hover {
    color: #0D3E75;
}

.navbar-nav li #active::after,
.navbar-nav li a:hover::after {
    opacity: 1;
}

.nav-btn li {
    padding: 10px 8px;
}

.nav-btn li a {
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    color: #FFF!important;
    font-weight: 700;
    display: inline-block;
    padding: 10px 34px;
    border-radius: 50px;
}

.nav-btn li a:hover {
    opacity: 0.8;
}

.nav-btn li a::after {
    display: none!important;
}

.navbar-toggler {
    outline: none!important;
    box-shadow: none!important;
    padding: 2px;
    transition: 0.2s all ease;
}

.navbar-toggler:hover {
    opacity: 0.75;
}

/*hamburger*/
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
}

.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block;
    outline: none; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

/*side-bar*/
.offcanvas-start {
    width: 320px;
}

.offcanvas-header img {
    max-width: 80px;
}

.offcanvas-body ul li {
    padding: 15px 10px;
}

.btn-close {
    opacity: 1;
    font-size: 25px;
    outline: none!important;
    box-shadow: none!important;
    transition: 0.2s all ease;
}

.modal-backdrop.show {
    opacity: none;
}

.modal-backdrop {
    background-color: transparent;
}

/*===================
footer-area start
=====================*/
.footer-area {
    background: #082744;
    padding: 70px 0;
    position: relative;
}

.footer-area::after {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-item p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-item .social-icon li {
    display: inline-block;
    padding-right: 8px;
} 

.footer-item .social-icon li a img {
    max-width: 36px;
}

.footer-item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-item li {
    padding: 6px 0;
}

.footer-item li a {
   font-size: 16px;
   font-weight: 400;
   color: #FFFFFF;
}

.footer-item li a:hover {
    opacity: 0.8;
}

.copyright-part {
    margin-top: 50px;
    border-top: 1px solid #627C94;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-left,
.copy-right {
    width: 50%;
}

.copy-left ul li {
    display: inline-block;
    padding-right: 45px;
}

.copy-left .footer-1 {
    max-width: 62px;
}

.copy-left .footer-2 {
    max-width: 128px;
}

.copy-left .footer-3 {
    max-width: 114px;
}

.copy-right p {
    font-size: 14px;
    font-weight: 400;
    color: #52687C;
    text-align: right;
    text-transform: uppercase;
}

/*===================
banner-area start
=====================*/
.banner-area {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0 200px;
    position: relative;
}

@media screen and (min-width: 1300px) {
    .banner-area {
        background-size: 100% 100%;
    }
}

.banner-cnt h4 {
    font-size: 32px;
    font-weight: 800;
    color: #292965;
    margin-bottom: 0;
    position: relative;
    top: 20px;
}

.banner-cnt h2 {
    font-size: 72px;
    font-weight: 800;
    color: #D8D8D8;
    margin-left: 40px;
}

.banner-cnt {
    max-width: 600px;
    z-index: 9;
    position: relative;
    padding-left: 140px;
}

.banner-area::after {
    content: "";
    display: block;
    width: 48%;
    height: 236px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 160px;
    border-radius: 0 10px 10px 0;
}

@media screen and (min-width: 1201px) and (max-width: 1320px) {
    .banner-area::after {
        width: 50%;
    }
}

.banner-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.banner-inner p {
    font-size: 21px;
    font-weight: 300;
    color: #082744;
}

.banner-inner p strong {
    font-weight: 700;
}

.banner-inner img {
    max-width: 152px;
    margin-left: 15px;
}

.banner-inner button {
    border: none;
    outline: none;
    background: none;
}

.banner-cnt a {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 50px;
}

.banner-cnt a i {
    display: inline-block;
    margin-right: 4px;
}

.modal-video-body {
    margin: 170px auto;
}

.modal-video-inner {
    vertical-align: initial;
}

/*======================
counter-area start
========================*/
.counter-area {
    background: #FFFFFF;
    padding: 0px 0 20px;
}

.counter-upper {
    max-width: 1026px;
    margin: 0 auto;
    padding: 70px 0;
}

.counter-upper h4 {
    font-size: 46px;
    font-weight: 700;
    color: #292965;
    text-align: center;
}

.counter-upper h2 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
    text-align: center;
    margin-bottom: 25px;
}

.counter-upper p {
    font-size: 20px;
    font-weight: 400;
    color: #1F262D;
    text-align: center;
}

.counter-main {
    max-width: 980px;
    margin: 0 auto 40px;
}

.counter-item {
    display: flex;
    align-items: flex-start;
}

.counter-item img {
    max-width: 80px;
}

.count-cnt {
    margin-left: 20px;
}

.count-cnt h2 {
    font-size: 40px;
    font-weight: 700;
    color: #2A4155;
    margin-bottom: 0;
}

.count-cnt h2::before {
    content: "+";
}

.count-cnt p {
    font-size: 14px;
    font-weight: 400;
    color: #082744;
}

.line img {
    max-width: 100%;
}

.line .line-1 {
    margin-top: -35px;
}

/*======================
oportun-area start
========================*/
.oportun-area {
    background-image: url(images/oportun-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 0 150px;
    margin-top: -60px;
}

@media screen and (min-width: 1300px) {
    .oportun-area {
        background-size: 100% 100%;
    }
}

.oportun-item h6 {
    font-size: 23px;
    font-weight: 400;
    color: #292965;
}

.oportun-item h2 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
    display: inline-block;
    position: relative;
}

.oportun-item h2::before {
    content: "";
    width: 100%;
    height: 3px;;
    display: block;
    background: linear-gradient(to right, #CFDFEE, #3EC097);
    position: absolute;
    bottom: -8px;
}

.oportun-item h2::after {
    content: "";
    width: 11px;
    height: 11px;
    display: block;
    background: #4FC39B;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -11px;
    z-index: 99;
}

.oportun-item h3 {
    font-size: 20px;
    font-weight: 700;
    color: #292965;
    margin-top: 20px;
}

.oportun-item p {
    font-size: 16px;
    font-weight: 400;
    color: #082744;
    margin: 26px 0 24px;
}

.oportun-item a {
    font-size: 18px;
    font-weight: 700;
    color: #0D3E75;
    text-transform: uppercase;
    border: 1px solid #082744;
    padding: 10px 26px;
    border-radius: 50px;
}

.oportun-item a:hover {
    background: #082744;
    color: #FFF;
}

/*========================
result-box-area start
==========================*/
.result-box-area {
    padding-bottom: 120px;
}

.result-box-main {
    max-width: 1020px;
    margin: 0 auto;
}

.result-box-item {
    border: 2px solid #707070;
    border-radius: 8px;
    padding: 15px 30px;
    position: relative;
}

.result-box-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #2CC79A, #6E52B7, #5A5AD7);
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: -2px;
    left: 0;
}

.result-box-item img {
    max-width: 44px;
    margin-top: -35px;
    z-index: 99;
    position: relative;
}

.result-box-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #292965;
    margin: 15px 0 10px;
}

.result-box-item p {
    font-size: 16px;
    font-weight: 400;
    color: #082744;
}

/*========================
pasos-area start
==========================*/
.pasos-area {
    background-image: url(images/pasos-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 100px 0 160px;
}

.pasos-left h6 {
    font-size: 36px;
    font-weight: 700;
    color: #292965;
    margin-bottom: 0;
}

.pasos-left h2 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
    margin-bottom: 0;
}

.pasos-left h4 {
    font-size: 37px;
    font-weight: 700;
    color: #292965;
    margin-bottom: 0;
}

.pasos-left p {
    font-size: 20px;
    font-weight: 400;
    color: #1F262D;
    margin: 20px 0 35px;
}

.pasos-left ul li a {
    width: 275px;
    font-size: 16px;
    font-weight: 700;
    color: #292965;
    background: #FFFFFF;
    border: 1px solid #D4D6ED;
    display: inline-block;
    padding: 14px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.pasos-left ul li a span {
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    background: #26CE94;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    border-radius: 50%;
    margin-right: 15px;
}

.pasos-left ul li a i {
    display: block;
    margin-left: auto;
    color: #C0C6D3;
}

.pasos-left ul li a:hover,
.pasos-left ul li .active {
    background: linear-gradient(to right, #EA4C46, #F17833);
    color: #FFF;
    border-color: transparent;
}

.pasos-left ul li a .two {
    background: #FFF;
    color: #B4F0E0;
}

.pasos-left ul li a .three {
    background: #D46AAF;
    color: #FFF;
}

.pasos-left ul li a .four {
    background: #97D722;
    color: #FFF;
}

.pasos-left ul li {
    padding: 5px 0;
}

.pasos-bg .container {
    position: relative;
}

.pasos-line .pasos-line1 {
    max-width: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.pasos-line .pasos-line2 {
    max-width: 45px;
    position: absolute;
    right: 0;
    top: 0;
}

.pasos-main {
    max-width: 1200px;
    margin: 0 auto;
}

.pasos-right img {
    width: 100%;
}

.sld-item {
    background: #FAF9FE;
    padding: 35px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.sld-item h4 {
    font-size: 22px;
    font-weight: 700;
    color: #292965;
    text-align: center;
}

.sld-item p {
    font-size: 14px;
    font-weight: 400;
    color: #1F262D;
    margin-bottom: 0;
    text-align: center;
}

/* carosol */
.owl-theme .owl-dots 
.owl-dot span {
    width: 25px;
    height: 6px;
    background: #D8DFF4;
    border-radius: 20px;
    margin: 40px 4px 0;
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #B3BCEA;
}

.main-content {
    position: relative;
}

.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 93%;
    left: 0;
    right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;   
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev {
    left: -20px;
}

.main-content .owl-theme .custom-nav .owl-next {
    right: -20px;
}

.main-content .owl-theme .custom-nav .owl-prev img, 
.main-content .owl-theme .custom-nav .owl-next img {
    max-width: 100px;
}

/* 
========================
futeup-area start
========================
*/
.futeup-area {
    padding: 145px 0 100px;
    position: relative;
    overflow: hidden;
}

.fute-bg .futeb-bg1 {
    max-width: 100%;
    position: absolute;
    left: 0;
}

.fute-bg .futeb-bg2 {
    max-width: 110px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.futeup-main {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
}

.futeup-right h4 {
    font-size: 57px;
    font-weight: 700;
    color: #D8D8D8;
}

.futeup-right h2 {
    font-size: 40px;
    font-weight: 700;
    color: #292965;
    margin-bottom: 35px;
}

.futeup-right p {
    font-size: 20px;
    font-weight: 400;
    color: #082744;
}

.futeup-right a {
    font-size: 18px;
    font-weight: 700;
    color: #0D3E75;
    border: 1px solid #082744;
    padding: 12px 30px;
    border-radius: 50px;
    margin-top: 20px;
}

.futeup-right a:hover {
    background: #082744;
    color: #FFF;
}

.fute-btm h4 {
    font-size: 20px;
    font-weight: 700;
    color: #082744;
    margin: 40px 0 15px;
    text-align: center;
}

.fute-item img {
   width: 100%;
}

.fute-item {
    position: relative;
    transition: 0.2s all ease;
}

.futr-itm2 {
    margin-top: 30px;
}

.prof-cnt {
    background: #EEEFF7;
    width: 200px;
    padding: 20px 20px;
    border-radius: 0 35px 0 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-4deg);
    transition: 0.2s all ease;
}

.prof-cnt h4,
.prof-cnt .info {
    font-size: 18px;
    font-weight: 700;
    color: #34BDB1;
    margin-bottom: 0;
}

.prof-cnt .orange-red {
    color: #E94E44;
}

.prof-cnt .violet {
    color: #834CBA;
}

.prof-cnt p {
    font-size: 14px;
    font-weight: 400;
    color: #231F20;
    margin-bottom: 0;
}
.hover-efect {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(212, 85, 135, 0.7), rgba(160, 131, 190, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(212, 85, 135, 0.5);
    transform: rotate(0deg);
    opacity: 0;  
    transition: 0.25s all ease;
}

.hover-efect span {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.hover-efect span i {
    font-size: 16px;
    margin-right: 8px;
}

.fute-item:hover .hover-efect{
    opacity: 1;
    cursor: pointer;
}

.fute-item:hover .prof-cnt {
    opacity: 0;
}

/*====================
popup-area start 
======================*/
.modal-dialog {
    max-width: 1216px;
    background: #F6F6F8;
    border: none;
    border-radius: 20px!important;
}

.modal-content button {
    display: block;
    width: 40px;
    margin-left: auto;
    font-size: 20px;
}

.modal-content {
    border: none;
    background: #F6F6F8;
    padding: 40px 40px;
    border-radius: 20px!important;
}

.modal-left h2 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
}

.modal-left h4 {
    font-size: 26px;
    font-weight: 700;
    color: #082744;
    margin: 15px 0 20px;
}

.modal-left p {
    font-size: 16px;
    font-weight: 400;
    color: #082744;
}

.modal-right img {
    width: 100%;
    cursor: pointer;
}

.modal-body {
    padding-top: 40px;
}

/*=================
aban-area start
====================*/
.aban-area {
    background: linear-gradient(to bottom, #FFFFFF, #EFF0FB);
    padding-top: 54px;
    position: relative;
}

.aban-area::after {
    content: "";
    display: block;
    width: 100%;
    height: ;
}

.aban-uper h2 {
    font-size: 46px;
    font-weight: 700;
    color: #292965;
    text-align: center;
}

.aban-uper h4 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
    text-align: center;
}

.aban-uper p {
    font-size: 20px;
    font-weight: 400;
    color: #1F262D;
    margin: 30px 0 50px;
    text-align: center;
}

.aban-area .container {
    position: relative;
}

.aban-line .aban-line1 {
    max-width: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

.aban-line .aban-line2 {
    max-width: 40px;
    position: absolute;
    right: 0;
    bottom: 400px;
}

.tab-part {
    max-width: 900px;
    margin: 0 auto;
}

.tab-part .tablink-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-part .tablink-main li a {
    width: 280px;
    display: flex;
    align-items: center;
    border: 2px solid #707070;
    padding: 12px 15px;
    background: transparent;
    border-radius: 16px;
}

.tab-part .tablink-main li a img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.tablnk-cnt {
    margin-left: 20px;
}

.tablnk-cnt h4 {
    font-size: 16px;
    font-weight: 700;
    color: #D8D8D8;
    margin-bottom: 0;
}

.tablnk-cnt p {
    font-size: 14px;
    font-weight: 400;
    color: #082744;
    margin-bottom: 0;
}

/* tabs */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-part .tablink-main li a:hover {
	background: linear-gradient(to right, #A9B7DE, #AFCCDE);
}

.tab-part .tablink-main li.active a, 
.tab-part .tablink-main li.active a:hover {
	background: linear-gradient(to right, #A9B7DE, #AFCCDE);
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}

.arrow-down {
    text-align: center;
    margin: 20px 0 35px;
}

.arrow-down span {
    font-size: 28px;
    color: #CEE4F2;
    cursor: pointer;
}

.arrow-down h4 {
    font-size: 18px;
    font-weight: 700;
    color: #D8D8D8;
    text-align: center;
}

/* inner-tab */
.inner-tab ul {
    text-align: center;
    border-bottom: 1px solid #979797;
}

.inner-tab ul li {
    display: inline-block;
    padding: 8px 40px;
}

.inner-tab ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #6E757B;
    position: relative;
}

.inner-tab ul li a::after {
    content: "";
    width: 100%;
    height: 6px;
    display: block;
    background: linear-gradient(to right, #42C9B6, #B3BFE7);
    border-radius: 50px;
    position: absolute;
    bottom: -11px;
    opacity: 0;
    transition: 0.2s all ease;
}

.inner-tab ul li a:hover {
	color: #0D3E75;
}

.inner-tab ul li.active a, 
.inner-tab ul li.active a:hover {
	color: #0D3E75;
    font-weight: 700;;
}

.inner-tab ul li a:hover::after {
    opacity: 1;
}

.inner-tab ul li.active a::after, 
.inner-tab ul li.active a:hover::after {
    opacity: 1;
}

.tab-innner-content {
    padding-top: 50px;
}

.inner-tab-item {
    background: #FFFFFF;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    min-height: 245px;
    position: relative;
}

.inner-tab-item img {
    width: 100%;;
}

.inner-tab-item h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
}

.inner-tab-item span {
    font-size: 26px;
    color: #62D29F;
    display: block;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.aban-btm {
    padding: 60px 0 70px;
    text-align: center;
}

.aban-btm h4 {
    font-size: 20px;
    font-weight: 700;
    color: #1F262D;
}

.aban-btm a {
    font-size: 18xp;
    font-weight: 700;
    color: #0D3E75;
    border: 1px solid #0D3E75;
    display: inline-block;
    padding: 10px 26px;
    border-radius: 50px;
    margin-top: 15px;
}

.aban-btm a:hover {
    background: #0D3E75;
    color: #FFF;
}


















/*========================
Conoce-area start
==========================*/
.conoce-area {
    background: linear-gradient(to bottom, #FFFFFF, #DEE6F4);
    padding: 60px 0 50px;
    overflow: hidden;
}

.conoce-main {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.conoce-upper {
    display: flex;
    align-items: center;
}

.conoce-upper img {
    max-width: 134px;
}

.conoce-upercnt {
    margin-left: 30px;
}

.conoce-upercnt h4 {
    font-size: 36px;
    font-weight: 700;
    color: #292965;
}

.conoce-upercnt h2 {
    font-size: 46px;
    font-weight: 700;
    color: #D8D8D8;
    display: inline-block;
    position: relative;
}

.conoce-upercnt h2::before {
    content: "";
    width: 100%;
    height: 3px;;
    display: block;
    background: linear-gradient(to right, #CFDFEE, #3EC097);
    position: absolute;
    bottom: -8px;
}

.conoce-upercnt h2::after {
    content: "";
    width: 11px;
    height: 11px;
    display: block;
    background: #4FC39B;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -11px;
    z-index: 99;
}

.conce-item {
    background: #FFFFFF;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);
    z-index: 99;
    position: relative;
}

.conce-inner {
    padding: 15px 10px 10px;
}

.conce-item img {
    width: 100%;
}
.conce-inner p {
    font-size: 14px;
    font-weight: 400;
    color: #082744;
}

.conce-inner h4 {
    font-size: 16px;
    font-weight: 700;
    color: #0D3E75;
}

.conce-inner h6 {
    font-size: 14px;
    font-weight: 400;
    color: #082744;
}

.conce2 {
    margin-top: 60px;
}

.conoce-upper{
    padding-bottom: 50px;
}

.rec-bddr img {
    max-width: 200px;
    position: absolute;
    left: -120px;
    bottom: 0;
    z-index: 9;
}

/*========================
empeza-area start
==========================*/
.empeza-area {
    background: #FFF;
    padding: 300px 0 100px;
    position: relative;
    margin-top: -170px;
    overflow: hidden;
}

.empeza-area .emp-bg1 {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 250px;
}

.empeza-area .emp-bg2 {
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 250px;
}

.empeza-main {
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(images/empeza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 80px 70px;
    z-index: 99;
    position: relative;
}

.empeza-cnt {
   max-width: 340px; 
}

.empeza-cnt h2 {
    font-size: 52px;
    font-weight: 700;
    color: #4A57C9;
}

.empeza-cnt p {
    font-size: 16px;
    font-weight: 400;
    color: #082744;
    margin: 24px 0;
}

.empeza-cnt a {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background: linear-gradient(to right, #8B488D, #5A5AD7);
    display: inline-block;
    padding: 12px 28px;
    border-radius: 50px;
    transition: 0.2s all ease;
}

.partner-part {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}

.partner-part h2 {
    font-size: 28px;
    font-weight: 700;
    color: #292965;
    text-align: center;
    margin-bottom: 25px;
}

.partner-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner-logo .part1 {
    max-width: 350px;
}

.partner-logo .part2 {
    max-width: 150px;
}

.partner-logo .part3 {
    max-width: 180px;
}