/*=========
fonts
===========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap');

body {	
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #191919;	
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

/*scrollto-top*/
.scrollto-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    background: #B2C1DA;   
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    z-index: 99999;
}

.scrollto-top:hover {   
    color: #FFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

/*===================
header-area start
=====================*/
.header-area {
    position: sticky;
    top: 0;
    width: 100%;
    display: block;
    z-index: 999;
    background-color: #fff;
    transition: 0.3s all ease;
}

.headerfixed {
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
}

.navbar-brand img {
    max-width: 92px;
    margin-right: 20px;
}

.logo-width {
    max-width: 80px!important;
}

.navbar-nav li {
    padding: 10px 20px;
}

.navbar-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: #6E757B;
    transition: 0.2s all ease;
    position: relative;
}

.navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    position: absolute;
    top: 32px;
    opacity: 0;
    transition: 0.2s all ease;
}

.navbar-nav li #active {
    color: #0D3E75;
    font-weight: 700;
}

.navbar-nav li a:hover {
    color: #0D3E75;
}

.navbar-nav li #active::after,
.navbar-nav li a:hover::after {
    opacity: 1;
}

.nav-btn li {
    padding: 10px 8px;
}

.nav-btn li a {
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    color: #FFF!important;
    font-weight: 700;
    display: inline-block;
    padding: 10px 34px;
    border-radius: 50px;
}

.nav-btn li a:hover {
    opacity: 0.8;
}

.nav-btn li a::after {
    display: none!important;
}

.navbar-toggler {
    outline: none!important;
    box-shadow: none!important;
    padding: 2px;
    transition: 0.2s all ease;
}

.navbar-toggler:hover {
    opacity: 0.75;
}

/*hamburger*/
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
}

.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block;
    outline: none; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

/*side-bar*/
.offcanvas-start {
    width: 320px;
}

.offcanvas-header img {
    max-width: 80px;
}

.offcanvas-body ul li {
    padding: 15px 10px;
}

.btn-close {
    opacity: 1;
    font-size: 25px;
    outline: none!important;
    box-shadow: none!important;
    transition: 0.2s all ease;
}

.modal-backdrop.show {
    opacity: none;
}

.modal-backdrop {
    background-color: transparent;
}

/*===================
footer-area start
=====================*/
.footer-area {
    background: #082744;
    padding: 70px 0;
    position: relative;
}

.footer-area::after {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-item p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-item .social-icon li {
    display: inline-block;
    padding-right: 8px;
} 

.footer-item .social-icon li a img {
    max-width: 36px;
}

.footer-item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-item li {
    padding: 6px 0;
}

.footer-item li a {
   font-size: 16px;
   font-weight: 400;
   color: #FFFFFF;
}

.footer-item li a:hover {
    opacity: 0.8;
}

.copyright-part {
    margin-top: 50px;
    border-top: 1px solid #627C94;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-left,
.copy-right {
    width: 50%;
}

.copy-left ul li {
    display: inline-block;
    padding-right: 45px;
}

.copy-left .footer-1 {
    max-width: 62px;
}

.copy-left .footer-2 {
    max-width: 128px;
}

.copy-left .footer-3 {
    max-width: 114px;
}

.copy-right p {
    font-size: 14px;
    font-weight: 400;
    color: #52687C;
    text-align: right;
    text-transform: uppercase;
}

/*===================
banner-area start
=====================*/
.banner-area {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0 200px;
    position: relative;
}

@media screen and (min-width: 1300px) {
    .banner-area {
        background-size: 100% 100%;
    }
}

.banner-cnt h4 {
    font-size: 32px;
    font-weight: 800;
    color: #292965;
    margin-bottom: 0;
    position: relative;
    top: 20px;
}

.banner-cnt h2 {
    font-size: 72px;
    font-weight: 800;
    color: #D8D8D8;
    margin-left: 40px;
}

.banner-cnt {
    max-width: 600px;
    z-index: 9;
    position: relative;
    padding-left: 140px;
}

.banner-area::after {
    content: "";
    display: block;
    width: 48%;
    height: 236px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 160px;
    border-radius: 0 10px 10px 0;
}

@media screen and (min-width: 1201px) and (max-width: 1320px) {
    .banner-area::after {
        width: 50%;
    }
}

.banner-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.banner-inner p {
    font-size: 21px;
    font-weight: 300;
    color: #082744;
}

.banner-inner p strong {
    font-weight: 700;
}

.banner-inner img {
    max-width: 152px;
    margin-left: 15px;
}

.banner-inner button {
    border: none;
    outline: none;
    background: none;
}

.banner-cnt a {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: linear-gradient(to right, #DB3A4A, #F7B623);
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 50px;
}

.banner-cnt a i {
    display: inline-block;
    margin-right: 4px;
}

.modal-video-body {
    margin: 170px auto;
}

.modal-video-inner {
    vertical-align: initial;
}

/*======================
counter-area start
========================*/
.counter-area {
    background: #FFFFFF;
    padding: 0px 0 20px;
}

.counter-upper {
    max-width: 1026px;
    margin: 0 auto;
    padding: 70px 0;
}

.counter-upper h4 {
    font-size: 46px;
    font-weight: 700;
    color: #292965;
    text-align: center;
}

.counter-upper h2 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
    text-align: center;
    margin-bottom: 25px;
}

.counter-upper p {
    font-size: 20px;
    font-weight: 400;
    color: #1F262D;
    text-align: center;
}

.counter-main {
    max-width: 980px;
    margin: 0 auto 40px;
}

.counter-item {
    display: flex;
    align-items: flex-start;
}

.counter-item img {
    max-width: 80px;
}

.count-cnt {
    margin-left: 20px;
}

.count-cnt h2 {
    font-size: 40px;
    font-weight: 700;
    color: #2A4155;
    margin-bottom: 0;
}

.count-cnt h2::before {
    content: "+";
}

.count-cnt p {
    font-size: 14px;
    font-weight: 400;
    color: #082744;
}

.line img {
    max-width: 100%;
}

.line .line-1 {
    margin-top: -35px;
}

/*======================
oportun-area start
========================*/
.oportun-area {
    background-image: url(images/oportun-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 0 150px;
    margin-top: -60px;
}

@media screen and (min-width: 1300px) {
    .oportun-area {
        background-size: 100% 100%;
    }
}

.oportun-item h6 {
    font-size: 23px;
    font-weight: 400;
    color: #292965;
}

.oportun-item h2 {
    font-size: 66px;
    font-weight: 700;
    color: #D8D8D8;
    display: inline-block;
    position: relative;
}

.oportun-item h2::before {
    content: "";
    width: 100%;
    height: 3px;;
    display: block;
    background: linear-gradient(to right, #CFDFEE, #3EC097);
    position: absolute;
    bottom: -8px;
}

.oportun-item h2::after {
    content: "";
    width: 11px;
    height: 11px;
    display: block;
    background: #4FC39B;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -11px;
    z-index: 99;
}

.oportun-item h3 {
    font-size: 20px;
    font-weight: 700;
    color: #292965;
    margin-top: 20px;
}

.oportun-item p {
    font-size: 16px;
    font-weight: 400;
    color: #082744;
    margin: 26px 0 24px;
}

.oportun-item a {
    font-size: 18px;
    font-weight: 700;
    color: #0D3E75;
    text-transform: uppercase;
    border: 1px solid #082744;
    padding: 10px 26px;
    border-radius: 50px;
}

.oportun-item a:hover {
    background: #082744;
    color: #FFF;
}

/*======================
oportun-area start
========================*/